.form_card {
	padding: 20px;
	max-width: 400px;
	margin: 40px auto;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #f9f9f9;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

	h1 {
		font-size: 24px;
		margin-bottom: 20px;
		text-align: center;
	}

	.error {
		color: #ff3860;
		text-align: center;
        margin: 1rem;
	}

	form {
		display: flex;
		flex-direction: column;
		gap: 10px;

		input {
			padding: 10px;
			border: 1px solid #ccc;
			border-radius: 4px;
			font-size: 16px;

			&:focus {
				border-color: #80bdff;
				outline: 0;
				box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
			}
		}

		button {
			padding: 10px;
			font-size: 18px;
			background-color: #007bff;
			color: white;
			border: none;
			border-radius: 4px;
			cursor: pointer;

			&:hover {
				background-color: #0056b3;
			}
		}
	}
}
